<html>
  <head>
    <meta charset="UTF-8">
    <title> SnippetApp </title>

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/dracula.css" />
  </head>
  <body>

  </body>
</html>

